.localsantana1{
    width: 80%;
}
.localsantana2{
    width: 80%;
}
.localsantana3{
    width: 93%;
}

.localnaranjal1{
    width: 80%;
}
.localnaranjal2{
    width: 80%;
}
.localnaranjal3{
    width: 93%;
}

.localuniversitaria1{
    width: 80%;
}
.localuniversitaria2{
    width: 80%;
}

.localsanmartin1{
    width: 80%;
}
.localsanmartin2{
    width: 80%;
}
.localsanmartin3{
    width: 90%;
}

.localsantaanita1{
    width: 80%;
}
.localsantaanita2{
    width: 80%;
}
.localsantaanita3{
    width: 85;
}

.lineal-local{
    border: 3px solid #fff; 
    margin-bottom: 25px;
}
.lineal-local2{
    border: 1px solid #000;
    margin-bottom: 25px;
}