
/***  NAV DE LOGO Y MENU **/
.header_section {
    /* background-color: #000000; */
    background: linear-gradient(2555deg, #4f78a7fb, #11297a);
    padding: 10px 0;
  }
.navegaciones {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    height: 83px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.enlace {
    position: absolute;
    padding: 22px 28px;
}

.logo {
    height: 45px;
    border-radius: 50%; 
    border: 2px solid #fff;
}
.bi-list{
    background-color: white; border-radius: 10px;    
}
.navegaciones ul {
    float: right;
    margin-right: 12px;
}

.navegaciones ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.navegaciones ul li a {
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 8px 3px;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.navegaciones li>.submenu {
    position: absolute;
    left: 0px;
    top: 30px;
    display: block;
}
.bi-moon{
    background-color: #1b2d68;
    border-radius: 50%;
    padding: 5px 8px;
    color: white;
}
.bi-brightness-high{
    background-color: #e4af1f;
    border-radius: 50%;
    padding: 5px 8px;
}
.light-mode {
    /* Estilos para el modo claro */
    background-color: #fff; /* Color de fondo claro */
    color: #333; /* Color de texto claro */
    /* Agrega cualquier otro estilo adicional para el modo claro */
}

.dark-mode {
    /* Estilos para el modo oscuro */
    background: linear-gradient(2555deg, #2e2d2dfb, #000); /* Color de fondo oscuro */
    color: #fff; /* Color de texto oscuro */
    /* Agrega cualquier otro estilo adicional para el modo oscuro */
}


li a.active,
li a:hover {
    transition: .5s;
    text-decoration: none;
}

.navegaciones ul li a:hover {
    color: #305be9;
    font-weight: 500;
    transition: .3s;
}

ul li a.contact {
    background: #1032c7;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 13px; 
    color: white;
}

ul li a.contact:hover {
    background: #305be9;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 13px;
    color: white;
}

a.contact {
    color: white;
    font-weight: 500;
}

.checkbtn {
    font-size: 30px;
    color: rgb(0, 0, 0);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width:952px) {
    .enlace {
        padding-left: 20px;
    }
    .navegaciones ul li a {
        font-size: 12px;
    }
}

@media (max-width:842px) {
    .logo {
        height: 27px;
    }
}

@media(max-width:858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: linear-gradient(2555deg, #1f1e1efb, #000);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .navegaciones ul li {
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }
    .navegaciones ul li a {
        font-size: 20px;
        font-weight: 500;
    }
    li a:hover,
    li a.active {
        background: none;
        color: black;
    }
    #check:checked~ul {
        left: 0;
    }
}
/*** FIN NAV DE LOGO Y MENU **/

/* Apartado de nosotros*/
.info-nosotros{
    margin-top: 100px; border-radius: 50px; background: linear-gradient(2555deg, #4f78a7fb, #11297a);
    margin: 20px; border:none;  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8); color: white;
}
.info-nosotros.dark-mode{
    background: linear-gradient(2555deg, #1e1f1ffb, #000);/* Cambia el color de fondo del hero en modo oscuro */
    color: #fff; /* Cambia el color del texto del hero en modo oscuro */
}

/*Apartado de redes*/
.redes {
    margin-bottom: 25px;
    color: white;
}

.redes a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: black;   
    padding: 5px 20px;
    margin-left: 15px;
    border-radius: 15px;
    font-size: 20px;
    transition: transform 0.3s;
}

.redes a:hover {
    transform: scale(1.2);
}

@media (max-width:767px) {
    .redes a{
        margin-bottom: 20px;
    }
}
/*Fin apartado de redes*/

/*Apartado de servicios*/
.consulta{
    text-decoration: none;
    color: white;
    background-color: #305be9;
    padding: 7px;
    border-radius: 10px;
}
.consulta:hover{
    color: white;
    background-color: #5578ec;
}

.reserva{
    margin-bottom: 100px; 
    padding: 50px; 
    border-radius: 50px;
    background: linear-gradient(2555deg, #4f78a7fb, #11297a);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8); 
    color: white;
}

.reserva.dark-mode{
    background: linear-gradient(265deg, #313131fb, #000); margin: 20px; border:none; 
}
/*Fin apartado de servicios*/


/*Apartado de locales*/
.local-santana{
    /*background: linear-gradient(265deg, #313131fb, #000); margin: 20px;*/
    background: linear-gradient(2555deg, #0f253dfb, #062486);
    border:none; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8); 
    color: white;
    border-radius: 50px;
}
.titulo-localsantana{
    text-align: center; 
    margin-bottom: 20px;
    color: #045509;
}

.locales{
    text-align: center; 
    margin-bottom: 20px;
    color: #fff;
}
.reserva-aqui{
    margin-top: 50em;
    margin-bottom: 100px; 
    background-color: #027806; 
    padding: 5px; 
    border-radius: 50px;
    text-decoration: none; 
    color: white;
}
.reserva-aqui:hover{
    background-color: #5578ec;
}
/*Fin apartado de locales*/

.titulo-envianos {
    margin-top: 10px;
    margin-left: 100px;
}

@media (max-width: 480px) {
    .titulo-envianos {
        margin-top: 10px;
        margin-left: 20px;
    }
}

/* Inicio apartado de contacto*/
.contact_section .contact_form-container input {
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    width: 90%;
    margin: 15px 0;
    background-color: transparent;
  }

  .contact_section .contact_form-container input::-webkit-input-placeholder {
    color: #595959;
    font-size: 14px;
  }
  
  .contact_section .contact_form-container input:-ms-input-placeholder {
    color: #595959;
    font-size: 14px;
  }
  
  .contact_section .contact_form-container input::-ms-input-placeholder {
    color: #595959;
    font-size: 14px;
  }
  
  .contact_section .contact_form-container input::placeholder {
    color: #595959;
    font-size: 14px;
  }
  
  .contact_section .contact_form-container input.message_input {
    margin-top: 80px;
  }
  
  .contact_section .contact_form-container button {
    border: none;
    background-color: #0e35f6;
    color: #fff;
    font-size: 15px;
    padding: 15px 55px;
    border-radius: 30px;
    text-transform: uppercase;
  }
  
  .contact_section .contact_form-container button:hover {
    background-color: #082de2;
  }
  
  .contact_section .map-box #map {
    width: 100%;
    height: 100%;
  }
/* Fin apartado de contacto */
  
/*Inicio apartado de Footer*/
.footer {
    padding: 70px 0;
}

.footer-tipo{
    background: linear-gradient(2555deg, #4f78a7fb, #11297a);
}
.footer-tipo.dark-mode {
    background: linear-gradient(2555deg, #1e1f1ffb, #000);/* Cambia el color de fondo del hero en modo oscuro */
    color: #fff; /* Cambia el color del texto del hero en modo oscuro */
  }
.logo-footer{
    border-radius: 50%; 
    border: 1px solid #fff;
}

.footer-col .info-gym{
    font-size: 13px; color:white;
}
.terminos{
    text-decoration: none; color: blue;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col p {
    font-size: 12px;
    color: #000;
    font-weight: 500;
    position: relative;
}

.footer-col span {
    font-size: 12px;
    color: #000;
    transform: capitalize;
    font-weight: 500;
    position: relative;
    margin-bottom: 2px;
}

.footer-col .menus {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 12px;
    display: block;
    transition: all 0.3 ease;
}

.footer-col .sociales a {
    display: flex;
    height: 38px;
    width: 38px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px 15px;
    transition: 0.4s;
    text-transform: capitalize;
}

.creador{
    text-align: center; 
    margin-top: 17px; 
    background-color: white;
}

.footer-col .facebook{
    background-color: #3c70a4; color: white; margin-bottom: 15px; border: 1px solid #fff;
}
.footer-col .whatsapp{
    background-color: #39d40a; color: white; margin-bottom: 15px; border: 1px solid #fff
}
.footer-col .instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); box-shadow: 0px 3px 10px rgba(0,0,0,.25); color: white; margin-bottom: 15px; border: 1px solid #fff;
}
.footer-col .tiktok{
    background-color: #000; color: white; margin-bottom: 15px; border: 1px solid #fff;
}

.footer-col .sociales a:hover {transform: scale(1.2);}

.footer-col .menus:hover {
    color: #366a88;
    padding-left: 8px;
}

.footer-col .horarios{font-size: 13px; color:white;}

@media (max-width:767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }
    .sociales {
        display: inline-flex;
    }
}

@media (max-width:574px) {
    .footer-col {
        width: 100%;
    }
    .footer-col .menus {
        font-size: 12px;
    }
    .footer-col p {
        font-size: 10px;
    }
}
/*Fin apartado footer*/